.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    border-radius: 8px;
}

.header {
    display: flex;
    box-shadow: inset;
}

.header img {
    width: 60px;
    height: 60px;
}

.form input {
    width: auto;
    height: 40px;
    border-radius: 8px;
    border: 1px solid white;
    font-family: "Public Sans", sans-serif;
}

.personal-form {
    display: grid;
    max-width: auto;
    height: auto;
    grid-template-columns: 600px;
    background-color: rgb(203, 199, 199);
    border: 1px solid;
    border-radius: 15px;
    padding: 10px;
    text-align: center;
}

.personal-form h1 {
    color: white;
    font-weight: 700;
}


.education-form {
    margin-top: 30px;
    width: auto;
    height: auto;
    border: 1px solid black;
    padding: 10px;
    display: grid;
    border-radius: 15px;
    text-align: center;
    width: auto;
    grid-template-columns: 600px;
    background-color: rgb(203, 199, 199);
}

.education-form h1 {
    color: white;
    font-weight: 700;
}

.experience-form {
    margin-top: 30px;
    border: 1px solid black;
    border-radius: 15px;
    text-align: center;
    padding: 10px;
    display: grid;
    width: auto;
    grid-template-columns: 600px;
    background-color: rgb(203, 199, 199);
}

.experience-form h1 {
    color: white;
    font-weight: 700;
}

.experience-btn,
button {
    border: 1px solid black;
    border-radius: 8px;
    color: white;
    height: 40px;
    background-color: rgb(24, 18, 18);
    margin-bottom: 5px;
}

.cv-form {
    background-color: white;
    width: auto;
    padding: 20px;
}

.personal-data {
    margin: 0;
    line-height: 10px;
}


.border-line {
    margin-top: 0;
    border: 2px solid black;
}

.thin-borderline {
    border: 1px solid black;
}

.title {
    text-align: center;
    font-weight: bold;
}

.education-info {
    line-height: 10px;
}

.work-experience {
    line-height: 20px;
    margin-bottom: 10px;
}

.experience-description {
    max-width: 400px;
}

.buttons-div{
    display: grid;
    grid-template-columns: 70px 70px 70px;
    gap: 10px;
    margin-top: 20px;
}

@media only screen and (max-width: 768px) {
    .form {
        padding: 10px;
    }
    .personal-form, .education-form, .experience-form {
        grid-template-columns: 500px;
        max-width: 100%;
    }
    .experience-description {
        max-width: 100%;
    }
    .buttons-div {
        grid-template-columns: 1fr;
    }
}


@media only screen and (max-width: 570px) {

    .form {
        padding: 10px;
    }
    .personal-form, .education-form, .experience-form {
        padding: 5px;
        grid-template-columns: 300px;
    }
    .experience-btn, button {
        height: 30px;
    }
    .personal-data, .education-info, .work-experience {
        line-height: 15px;
    }
    .personal-data, .title{
        font-size: 20px;
    }
}

@media only screen and (max-width: 320px) {
    .form {
        padding: 5px;
    }
    .personal-form, .education-form, .experience-form {
        padding: 0;
    }
    .experience-btn, button {
        height: 25px;
    }
    .personal-data, .education-info, .work-experience {
        line-height: 10px;
    }
}